<div  class="row" >
	 <div class="col-xs-12"  >
			<div class="panel panel-default" style="background-color:#9E1B32;height:75px">
				<!-- <div class="panel-body"> -->
					<div id="cabecera" class="row" >
					    <div id="cabeceraImgEscudo" class="col-md-2">
							<img id="cabeceraEscudo" src="" alt="CARM.es" title="CARM.es">
						</div>
						<div class="col-md-4 col-md-offset-6 centered">
							<h4 style="text-align:center;color:white">{{nameC}}</h4>
						</div>
					</div>
				<!-- </div> -->
			</div>
	</div> 
	
</div>